h1, h2, h3, h4, .h1, .h2, .h3{
    font-family: 'Nova Square', cursive;} /*A tutti i titoli ho voluto dare questo font*/
*{
font-family: 'Rajdhani', sans-serif;}  /*Mentre agli altri tag di teso ho voluto dare quest'altro font*/
        
:root{ 
--main:#ececec;
--sec: #8b0000; 
--acc: #C67F7F;       
}  /*Ho scelto dei colori simili a quelli dell'azienda che potessero in qualche modo stare bene nella palette e ho creato le variabili così da utilizzare quelle e se un giorno dovessi cambiare colore mi basterà cambiare solo in questo punto*/
        
 /*In questa parte ci sono le classi generiche come i colori dei font e dei background*/
body{
    background-color: var(--main);
}

.text-main{
    color: var(--main);
}

.bg-main{
    background-color: var(--main);
}

.border-main{
    border: 3px solid var(--main);
}

.text-sec{
    color: var(--sec);
}

.bg-sec{
    background-color: var(--sec);
}

.border-sec{
    border: 3px solid var(--sec);
}

.text-acc{
    color: var(--acc) !important;
}

.bg-acc{
    background-color: var(--acc);
}

.h3-red{
    color: var(--sec) ;
}
.vh-100{
    height: 100vh;
}

.img-logo{
    width: 100px;
    background-color: var(--main);
}


.titolo{
    background: linear-gradient(var(--main), transparent) , url(./media/Nantes-Venise-Train-1-scaled.webp); /*Qui ho creato una patina sottile sull'immagine di sfondo dell'header così da avere un senso di trasparenza e di contrasto. Per farlo ho utilizzato il linear-gradient con il colore bianco o comunque più chiaro di quelli che avevo. */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.h1-header{
    letter-spacing: 20px;
    margin-top: 50px;
}

.img-header{
    height: 100%;
    bottom: 0%;
    left: 0px; 
}

.quote{
    font-size: 20px;
}

.list-none{
    list-style-type:none
}

.timeline{
    border-bottom: 3px solid var(--sec);    
}

.p-icon{
    font-weight: 600;
}

.button-p{
    color: #ececec;
    padding-top:15px;
    padding-left: 75px;
    padding-bottom: 15px;
    padding-right: 75px;
    background-color: #8b0000;
    border-radius: 25px;
}

.button-p:hover{
    background-color: #ececec;
    color: #8b0000;
}

    
